///////////Variables/////////

//light green: #7ed56f
//Medium green: #55c57a
//Dark green: #28b485

////////reset//////////
//general reset
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //font-size: 10px;  =>  if we put this, we take px as absolute measeure
    //thus 1rem = 10px   =>   on this way is easier to calculate
    //but the best way is with % => it takes the measures of the browser
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
}

img{
    max-width: 100%;
	height: auto;
	display: block;
}

ol, ul {
    list-style: none;
	font-size: 0;
}

blockquote, q {
    quotes: none;
    &::before, &::after{
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: inherit;
    outline: 0;
    text-decoration: none;
    &:active,
    &:focus,
    &:hover,
    &:visited,
    &:link {
        outline: 0;
	    text-decoration: none;
    }
}

body {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
}
//reset  end/////////

/////////////////////////////////////////////////////////////////////
//BEM => block, element, modifier

// .block {}
// standalone component that is meaningful on its own
// .block__element {}
// part of block that has no standalone meaning
// .block__element--modifier {}
// a different version of a block or an element

// actions are introduced as a class apart to be distinguished

/////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////
// the 7 - 1 pattern

// 7 different forlders for partials SASS files, ans 1 main file
// to complile all of them and then be imported.

// base
// components
// layout
// pages
// themes
// abstracts
// vendors

/////////////////////////////////////////////////////////////////////

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}

.header{
    height: 95vh;
    background-image: linear-gradient(to right, rgba(126, 213, 111, 0.6), rgba(40, 180, 133, 0.59)), url('./img/hero.jpg');
    background-size: cover;
    background-position: top center;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    //https://bennettfeely.com/clippy/ examples for cliping

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo{
        height: 3.5rem;
    }

    &__text-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.heading-primary{
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 4rem;

    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-delay: .5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;
        //if the animation is not smoth enough
        backface-visibility: hidden;
    }

    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.74rem;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-delay: .5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;
        //if the animation is not smoth enough
        backface-visibility: hidden;
    }
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%{
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }

    80%{
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s ease;
        position: relative;
        font-size: 1.6rem;
    }
    &:hover{
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        &::after{
            transform: scaleX(1.7) scaleY(1.4);
            opacity: 0;
        }
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }

    &::after{
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .2s ease;
    }

    &--white{
        background-color: #ffffff;
        color: #777;
        &::after{
            background-color: #ffffff;
        }
    }

    &--animated{
        opacity: 0;
        animation-name: moveInBottom;
        animation-duration: .7s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        //if the animation is not smoth enough
        backface-visibility: hidden;
    }
}

@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(10rem);
    }

    70%{
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
