////////  Colors  ////////
// Primary - Green
$col-primary-light: #7ed56f;
$col-primary: #55c57a;
$col-primary-dark: #28b485;

// Secondary - Orange
$col-secondary-light: #ffb900;
$col-secondary-dark: #ff7730;

// Tertiary - Blue
$col-tertiary-light: #2998ff;
$col-tertiary-dark: #5643fa;

// From Black to White
$col-black: #000;
$col-grey-dark: #777;
$col-grey-dark-2: #999;
$col-grey-dark-3: #333;
$col-grey-light-1: #f7f7f7;
$col-grey-light-2: #eee;
$col-white: #fff;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//fontsize
$default-font-size: 1.6rem;
