.bg-video{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;

  &__content{
    height: 100%;
    width: 100%;
    // this is not yet supported for some browsers
    object-fit: cover;
  }
  // https://coverr.co/ free videos for websites
}
