.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s ease;
        position: relative;
        top: 0;
        font-size: $default-font-size;
    }
    &:hover{
        top: -5px;
        box-shadow: 0 1rem 2rem rgba($col-black, 0.2);
        &::after{
            transform: scaleX(1.7) scaleY(1.4);
            opacity: 0;
        }
    }
    &:active{
        top: -1px;
        box-shadow: 0 0.5rem 1rem rgba($col-black, 0.2);
    }

    &::after{
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .2s ease;
    }

    &--white{
        background-color: $col-white;
        color: $col-grey-dark;
        &::after{
            background-color: $col-white;
        }
    }

    &--animated{
        opacity: 0;
        animation-name: moveInBottom;
        animation-duration: .7s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        //if the animation is not smoth enough
        backface-visibility: hidden;
    }
}

.btn-text {
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $col-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $col-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover{
        background-color: $col-primary;
        color: $col-white;
        box-shadow: 0 1rem 2rem rgba($col-black, .15);
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($col-black, .15);
        transform: translateY(0px);
    }
}
