.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s ease;
        position: relative;
        font-size: 1.6rem;
    }
    &:hover{
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($col-black, 0.2);
        &::after{
            transform: scaleX(1.7) scaleY(1.4);
            opacity: 0;
        }
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($col-black, 0.2);
    }

    &::after{
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .2s ease;
    }

    &--white{
        background-color: $col-white;
        color: $col-grey-dark;
        &::after{
            background-color: $col-white;
        }
    }

    &--animated{
        opacity: 0;
        animation-name: moveInBottom;
        animation-duration: .7s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        //if the animation is not smoth enough
        backface-visibility: hidden;
    }
}
