.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-15 {
    margin-bottom: 1.5rem !important;
    @include respond(tab-port){
        margin-top: 1rem !important;
    }
}

.u-margin-bottom-8 {
    margin-bottom: 8rem !important;
    @include respond(tab-port){
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-4{
    margin-top: 4rem !important;
    @include respond(tab-port){
        margin-top: 3rem !important;
    }
}

.u-margin-top-8 {
    margin-top: 8rem !important;
    @include respond(tab-port){
        margin-top: 5rem !important;
    }
}

// these are just the only classes which have the !important stament
